.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tableHeadDiv {
  box-shadow: 2px 2px 5px #999;
  /* background-color: rgb(216, 240, 237); */
}

#tableHeading {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#tableHead {
  /* background-color: rgb(216, 240, 237); */
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 10px;
  grid-gap: auto;
}

#tableRow {
  /* background-color: rgb(216, 240, 237); */
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: auto;
  align-items: right;
}

#bread {
  border-bottom: solid #282c34;
}

#rowDiv {
  max-height: 320px;
  overflow-y: auto;
}

#modalDiv {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#pageHolder {
  z-index: -1;
}